.DS_Store
.local/
.cask/
var/

# Emacs tempfiles that shouldn't be there
.mc-lists.el
.org-id-locations
.tern-port
auto-save-list
semanticdb
ede-projects.el
tramp
smex-items
network-security.data

# Compiled files
*.elc
*.lib
*.fas
*.dat
*.eld

# Transient files
*.cache-*
*.log
